/* === GLOBAL === */
body {
  background: #4544A5;
  margin: 0;
  padding: 40px;
  font-family: 'Pragmatica', sans-serif;
}

/* === BOT BUBBLE === */
.bubble-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.bot-circle {
  width: 15.434px;
  height: 15.434px;
  border-radius: 50%;
  background: #FFF;
}

.bubble-bot {
  width: 767px;
  height: 83px;
  border-radius: 300px;
  background: #FFF;
  color: #303030;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.listen-button {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  cursor: pointer;
}

/* === USER BUBBLE === */
.user-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.bubble-user {
  width: 155px;
  height: 80px;
  border-radius: 300px;
  background: #1F1F1F;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.user-circle {
  width: 15.434px;
  height: 15.434px;
  border-radius: 50%;
  background: #1F1F1F;
}

/* === INPUT AREA === */
.input-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 15px;
}

.input-container input {
  flex: 1;
  padding: 20px 30px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
}

.icon-clip,
.icon-camera {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.camera {
  width: 32.583px;
  height: 32.583px;
}

.send-button {
  width: 75px;
  height: 75px;
  border-radius: 3000px;
  background: #8704B5;
  border: 8px solid #9221BA;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send-icon {
  width: 28.846px;
  height: 28.846px;
}

/* === CAMERA PREVIEW === */
.camera-preview {
  width: 324px;
  height: 576px;
  border-radius: 34.286px;
  border: 7.347px solid rgba(255, 255, 255, 0.30);
  background: #000;
  overflow: hidden;
}

/* === CAMERA BUTTONS === */
.camera-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.camera-button {
  width: 150px;
  height: 80px;
  border-radius: 40px;
  background: #202020;
  cursor: pointer;
}

/* === MEDIA MOBILE === */
@media (max-width: 768px) {
  .bubble-wrapper, .user-wrapper {
    margin-bottom: 20px;
  }

  .bubble-bot {
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
  }

  .bubble-user {
    width: auto;
    max-width: 60%;
    height: auto;
    padding: 20px;
  }

  .listen-button {
    width: 60px;
    height: 60px;
  }

  .input-container {
    gap: 10px;
  }

  .send-button {
    width: 60px;
    height: 60px;
    border: 6px solid #9221BA;
  }

  .send-icon {
    width: 22px;
    height: 22px;
  }
}
